
/*
#clouds{
	padding: 0;
	background: transparent;
	position:absolute;    left: 0;
    right: 0; top:20px;
}
*/
/*Time to finalise the cloud shape*/
.cloud1 {
	width: 865px; height: 120px;
	padding: 0;
	background: transparent;
	position:absolute;    left: 0;
    right: 0; top:5vh;
}
.cloud2 {
	width: 1210px; height: 50px;
	padding: 0;
	background: transparent;
	position:absolute;    left: 0;
    right: 0; top:18vh;
}

.cloud3 {
	width: 75px; height: 20px;
	padding: 0;
	background: transparent;
	position:absolute;    left: 0;
    right: 0; top:120px;
}

.boat {
	width: 165px; height: 110px;
	padding: 0;
	background: transparent;
	position:absolute;    left: 0;
    right: 0; top:60px;
}
.cloud2 img, .cloud1 img, .cloud3 img, .boat img {width:100%; height:auto}




/*Time to animate*/
.x1 {
	-webkit-animation: moveclouds 500s linear infinite;
	-moz-animation: moveclouds 500s linear infinite;
	-o-animation: moveclouds 500s linear infinite; left:0;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
	
	
	
	left:0;
	/*Speed will also be proportional to the size and opacity*/
	/*More the speed. Less the time in 's' = seconds*/
	-webkit-animation: moveclouds 205s linear infinite;
	-moz-animation: moveclouds 205s linear infinite;
	-o-animation: moveclouds 205s linear infinite; 
}

.x3 {
	
	left:900px;
	-webkit-animation: moveclouds 400s linear infinite;
	-moz-animation: moveclouds 400s linear infinite;
	-o-animation: moveclouds 400s linear infinite;display:none;
}

.x4 {
	
	left:240px;
	-webkit-animation: moveboat 100s linear 1;
	-moz-animation: moveboat 100s linear 1; 
	-o-animation: moveboat 100s linear 1;margin-left: 70%; 
	background: url(../images/boat.svg) no-repeat;
	background-size: contain;background-position: center bottom;
}

.x4 img{opacity: 0;}



@-webkit-keyframes moveclouds {
	0% {margin-left: 100px;}
	100% {margin-left: -100%;}
}
@-moz-keyframes moveclouds {
	0% {margin-left: 100px;}
	100% {margin-left: -100%;}
}
@-o-keyframes moveclouds {
	0% {margin-left: 100px;}
	100% {margin-left: -100%;}
}


@-webkit-keyframes moveboat {
	0% {margin-left: 0px;     background: url(../images/boat-ani.gif) no-repeat;
		background-size: contain;}
		70% {margin-left: 70%;     background: url(../images/boat-ani.gif) no-repeat;
			background-size: contain;}
	80% {margin-left: 70%; animation-play-state: paused;
		background: url(../images/boat.svg) no-repeat; 
		background-size: contain;}
}
@-moz-keyframes moveboat {
	0% {margin-left: 0px;     background: url(../images/boat-ani.gif) no-repeat;
		background-size: contain;}
		70% {margin-left: 70%;     background: url(../images/boat-ani.gif) no-repeat;
			background-size: contain;}
	80% {margin-left: 70%; animation-play-state: paused;
		background: url(../images/boat.svg) no-repeat;
		background-size: contain;}
}
@-o-keyframes moveboat {
	0% {margin-left: 0px;     background: url(../images/boat-ani.gif) no-repeat;
		background-size: contain;}
		70% {margin-left: 70%;     background: url(../images/boat-ani.gif) no-repeat;
			background-size: contain;}
	80% {margin-left: 70%; animation-play-state: paused;
		background: url(../images/boat.svg) no-repeat;
		background-size: contain;}
}

@media (min-width:1800px) {
	@-webkit-keyframes moveboat {
		0% {margin-left: 0px;     background: url(../images/boat-ani.gif) no-repeat;
			background-size: contain;}
			70% {margin-left: 75%;     background: url(../images/boat-ani.gif) no-repeat;
				background-size: contain;}
		80% {margin-left: 75%; animation-play-state: paused;
			background: url(../images/boat.svg) no-repeat; 
			background-size: contain;}
	}
	@-moz-keyframes moveboat {
		0% {margin-left: 0px;     background: url(../images/boat-ani.gif) no-repeat;
			background-size: contain;}
			70% {margin-left: 75%;     background: url(../images/boat-ani.gif) no-repeat;
				background-size: contain;}
		80% {margin-left: 75%; animation-play-state: paused;
			background: url(../images/boat.svg) no-repeat;
			background-size: contain;}
	}
	@-o-keyframes moveboat {
		0% {margin-left: 0px;     background: url(../images/boat-ani.gif) no-repeat;
			background-size: contain;}
			70% {margin-left: 75%;     background: url(../images/boat-ani.gif) no-repeat;
				background-size: contain;}
		80% {margin-left: 75%; animation-play-state: paused;
			background: url(../images/boat.svg) no-repeat;
			background-size: contain;}
	}
	.x4 {margin-left: 75%;}

}


@media (min-width:1800px) {
	@-webkit-keyframes moveboat {
		0% {margin-left: 0px;     background: url(../images/boat-ani.gif) no-repeat;
			background-size: contain;}
			70% {margin-left: 65%;     background: url(../images/boat-ani.gif) no-repeat;
				background-size: contain;}
		80% {margin-left: 65%; animation-play-state: paused;
			background: url(../images/boat.svg) no-repeat; 
			background-size: contain;}
	}
	@-moz-keyframes moveboat {
		0% {margin-left: 0px;     background: url(../images/boat-ani.gif) no-repeat;
			background-size: contain;}
			70% {margin-left: 65%;     background: url(../images/boat-ani.gif) no-repeat;
				background-size: contain;}
		80% {margin-left: 65%; animation-play-state: paused;
			background: url(../images/boat.svg) no-repeat;
			background-size: contain;}
	}
	@-o-keyframes moveboat {
		0% {margin-left: 0px;     background: url(../images/boat-ani.gif) no-repeat;
			background-size: contain;}
			70% {margin-left: 65%;     background: url(../images/boat-ani.gif) no-repeat;
				background-size: contain;}
		80% {margin-left: 65%; animation-play-state: paused;
			background: url(../images/boat.svg) no-repeat;
			background-size: contain;}
	}
	.x4 {margin-left: 65%;}

}
.main-content-wrapper{
	margin-top:10%;
}
.rs-handle.rs-move {position:relative}
.rs-handle.rs-move:after {
    content: "0";
    position: absolute;
    z-index: 99999999999999999;
    transform: rotate(-90deg);
    color: #fff;
    left: 0;
    right: 0;
    display: flex;
    top: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
}
.rs-handle.rs-move.stepmove1:after {
	 content: "1";
	 transform: rotate(-180deg);
}
.rs-handle.rs-move.stepmove2:after {
	 content: "2";
	 transform: rotate(-270deg);
}
.rs-handle.rs-move.stepmove3:after {
	 content: "3";
	 transform: rotate(-360deg);
}
.rs-handle.rs-move.stepmove4:after {
	 content: "4";
	 transform: rotate(-450deg);
}
.rs-handle.rs-move.stepmove5:after {
	 content: "5";
	 transform: rotate(-540deg);
}