
/*
#clouds{
	padding: 0;
	background: transparent;
	position:absolute;    left: 0;
    right: 0; top:20px;
}
*/
/*Time to finalise the cloud shape*/
.cloud1 {
	width: 865px; height: 120px;
	padding: 0;
	background: transparent;
	position:absolute;    left: 0;
    right: 0; top:5vh;
}
.cloud2 {
	width: 1210px; height: 50px;
	padding: 0;
	background: transparent;
	position:absolute;    left: 0;
    right: 0; top:18vh;
}

.cloud3 {
	width: 75px; height: 20px;
	padding: 0;
	background: transparent;
	position:absolute;    left: 0;
    right: 0; top:120px;
}

.boat {
	width: 165px; height: 110px;
	padding: 0;
	background: transparent;
	position:absolute;    left: 0;
    right: 0; top:60px;
}
.cloud2 img, .cloud1 img, .cloud3 img, .boat img {width:100%; height:auto}




/*Time to animate*/
.x1 {
	-webkit-animation: moveclouds 500s linear infinite;
	-moz-animation: moveclouds 500s linear infinite;
	-o-animation: moveclouds 500s linear infinite; left:0;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
	
	
	
	left:0;
	/*Speed will also be proportional to the size and opacity*/
	/*More the speed. Less the time in 's' = seconds*/
	-webkit-animation: moveclouds 205s linear infinite;
	-moz-animation: moveclouds 205s linear infinite;
	-o-animation: moveclouds 205s linear infinite; 
}

.x3 {
	
	left:900px;
	-webkit-animation: moveclouds 400s linear infinite;
	-moz-animation: moveclouds 400s linear infinite;
	-o-animation: moveclouds 400s linear infinite;display:none;
}

.x4 {
	
	left:240px;
	-webkit-animation: moveboat 100s linear 1;
	-moz-animation: moveboat 100s linear 1; 
	-o-animation: moveboat 100s linear 1;margin-left: 70%; 
	background: url(../images/boat.svg) no-repeat;
	background-size: contain;background-position: center bottom;
}

.x4 img{opacity: 0;}



@-webkit-keyframes moveclouds {
	0% {margin-left: 100px;}
	100% {margin-left: -100%;}
}
@-moz-keyframes moveclouds {
	0% {margin-left: 100px;}
	100% {margin-left: -100%;}
}
@-o-keyframes moveclouds {
	0% {margin-left: 100px;}
	100% {margin-left: -100%;}
}


@-webkit-keyframes moveboat {
	0% {margin-left: 0px;     background: url(../images/boat-ani.gif) no-repeat;
		background-size: contain;}
		70% {margin-left: 70%;     background: url(../images/boat-ani.gif) no-repeat;
			background-size: contain;}
	80% {margin-left: 70%; animation-play-state: paused;
		background: url(../images/boat.svg) no-repeat; 
		background-size: contain;}
}
@-moz-keyframes moveboat {
	0% {margin-left: 0px;     background: url(../images/boat-ani.gif) no-repeat;
		background-size: contain;}
		70% {margin-left: 70%;     background: url(../images/boat-ani.gif) no-repeat;
			background-size: contain;}
	80% {margin-left: 70%; animation-play-state: paused;
		background: url(../images/boat.svg) no-repeat;
		background-size: contain;}
}
@-o-keyframes moveboat {
	0% {margin-left: 0px;     background: url(../images/boat-ani.gif) no-repeat;
		background-size: contain;}
		70% {margin-left: 70%;     background: url(../images/boat-ani.gif) no-repeat;
			background-size: contain;}
	80% {margin-left: 70%; animation-play-state: paused;
		background: url(../images/boat.svg) no-repeat;
		background-size: contain;}
}

@media (min-width:1800px) {
	@-webkit-keyframes moveboat {
		0% {margin-left: 0px;     background: url(../images/boat-ani.gif) no-repeat;
			background-size: contain;}
			70% {margin-left: 75%;     background: url(../images/boat-ani.gif) no-repeat;
				background-size: contain;}
		80% {margin-left: 75%; animation-play-state: paused;
			background: url(../images/boat.svg) no-repeat; 
			background-size: contain;}
	}
	@-moz-keyframes moveboat {
		0% {margin-left: 0px;     background: url(../images/boat-ani.gif) no-repeat;
			background-size: contain;}
			70% {margin-left: 75%;     background: url(../images/boat-ani.gif) no-repeat;
				background-size: contain;}
		80% {margin-left: 75%; animation-play-state: paused;
			background: url(../images/boat.svg) no-repeat;
			background-size: contain;}
	}
	@-o-keyframes moveboat {
		0% {margin-left: 0px;     background: url(../images/boat-ani.gif) no-repeat;
			background-size: contain;}
			70% {margin-left: 75%;     background: url(../images/boat-ani.gif) no-repeat;
				background-size: contain;}
		80% {margin-left: 75%; animation-play-state: paused;
			background: url(../images/boat.svg) no-repeat;
			background-size: contain;}
	}
	.x4 {margin-left: 75%;}

}


@media (min-width:1800px) {
	@-webkit-keyframes moveboat {
		0% {margin-left: 0px;     background: url(../images/boat-ani.gif) no-repeat;
			background-size: contain;}
			70% {margin-left: 65%;     background: url(../images/boat-ani.gif) no-repeat;
				background-size: contain;}
		80% {margin-left: 65%; animation-play-state: paused;
			background: url(../images/boat.svg) no-repeat; 
			background-size: contain;}
	}
	@-moz-keyframes moveboat {
		0% {margin-left: 0px;     background: url(../images/boat-ani.gif) no-repeat;
			background-size: contain;}
			70% {margin-left: 65%;     background: url(../images/boat-ani.gif) no-repeat;
				background-size: contain;}
		80% {margin-left: 65%; animation-play-state: paused;
			background: url(../images/boat.svg) no-repeat;
			background-size: contain;}
	}
	@-o-keyframes moveboat {
		0% {margin-left: 0px;     background: url(../images/boat-ani.gif) no-repeat;
			background-size: contain;}
			70% {margin-left: 65%;     background: url(../images/boat-ani.gif) no-repeat;
				background-size: contain;}
		80% {margin-left: 65%; animation-play-state: paused;
			background: url(../images/boat.svg) no-repeat;
			background-size: contain;}
	}
	.x4 {margin-left: 65%;}

}
.main-content-wrapper{
	margin-top:10%;
}


.box-top{    display: flex;
    align-items: center;
    justify-content: center;}
.green-text{font-size: 18px;
	line-height: 25px;padding-left: 15px;
	color: #4c9f38;
	font-family: "Verdana";
	text-align: center;}
.gray-text{font-size: 12px;
	line-height: 25px;
	color: #4c4c4c;
	font-family: "Verdana";
	text-align: center;}

	.grid-container {
		display: flex;    flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		padding: 30px 0;
	  }
	  .grid-item {
		padding: 5px;
		font-size: 30px;
		text-align: center;width: 128px;
		height: 110px;
		border-radius: 10px;
		background-color: #4c9f38;
	  }

	  p.light-text{font-size: 12px;
		line-height: 12px;
		color: #ffffff; border-top:1px solid #fff; padding: 10px 0;
		font-family: "Verdana";
		text-align: center;}