*{margin:0; padding:0}
.hero{height:100vh; width:100%;    position: relative; _background:url(../images/home-bg.jpg) no-repeat; background-size:cover; background-position:center bottom; overflow-x:hidden}
.index-page .navbar-default{    background: transparent;}
body{overflow-x:hidden}

a.navbar-brand img {
    width: 140px;
    height: auto;
}
.navbar-collapse.right-header  h1{    font-size: 26px;}
@media(min-width:1600px) {
a.navbar-brand img {
    width: 120px;
    
}	
.page-head h2{font-size:35px}	
form label{font-size:25px}
}
@font-face {
    font-family: 'SandwichMarkerPro';
    src: url('../fonts/SandwichMarkerPro-Bold.eot');
    src: url('../fonts/SandwichMarkerPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SandwichMarkerPro-Bold.woff2') format('woff2'),
        url('../fonts/SandwichMarkerPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Verdana';
    src: url('../fonts/Verdana-Italic.eot');
    src: url('../fonts/Verdana-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Verdana-Italic.woff2') format('woff2'),
        url('../fonts/Verdana-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Verdana';
    src: url('../fonts/Verdana-Bold.eot');
    src: url('../fonts/Verdana-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Verdana-Bold.woff2') format('woff2'),
        url('../fonts/Verdana-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Verdana';
    src: url('../fonts/Verdana.eot');
    src: url('../fonts/Verdana.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Verdana.woff2') format('woff2'),
        url('../fonts/Verdana.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Verdana';
    src: url('../fonts/Verdana-BoldItalic.eot');
    src: url('../fonts/Verdana-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Verdana-BoldItalic.woff2') format('woff2'),
        url('../fonts/Verdana-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

body{font-family: 'Verdana';}
.right-header {font-family: 'SandwichMarkerPro'; color:#214d88; font-size:36px}
.right-header span{color:#4c9f38}
.navbar-brand {height:auto;}
.navbar-default {background:transparent; border:none}
.d-flex{display:flex} 
.align-center{align-items: center;} 
.space-between{justify-content: space-between;}
.container {
    width: 100%!important; padding-left:30px!important; padding-right:30px!important;
}

.page-head h2{font-family: 'SandwichMarkerPro'; font-size:25px; color:#4c9f38; border-bottom:solid 1px #4c9f38; padding:5px 0; margin:0}
.page-bg-1 {position:absolute; bottom:0; right:0; width:56%}
.page-bg-1 img{display:block; width:100%}
.relative {position:relative}
form *{display:block; width:100%}
form label	{color:#808080; font-weight:normal; margin:0; width:auto;  font-family: 'Verdana'; font-style:normal; font-size:18px}
form input, form select	{border-radius:3px;background:#ffffff; border:solid 1px #ccc; outline:none; height:50px; line-height:1; padding:0 15px; font-size:20px;color:#aaaaaa;}
form select {background:url(../images/select-arrow.svg) no-repeat right center;
    appearance: none;
    -moz-appearance: none;
-webkit-appearance: none;background-size:32px;
}
.form-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-row label {
    margin-right: 30px;
    width: 55px;
    display: block;
    float: left;
    text-align: center;
}
.form-row input, .form-row select {
   float: left;
    width: calc(100% - 85px);
}
.form-row img {
    height: 55px; width:auto; margin:auto;
}
.mt-1, .my-1 {
    margin-top: .25rem!important;
}
.mt-2, .my-2 {
    margin-top: .5rem!important;
}
.mt-3, .my-3 {
    margin-top: 1rem!important;
}
.mt-4, .my-4 {
    margin-top: 1.5rem!important;
}
.mt-5, .my-5 {
    margin-top: 3rem!important;
}
.mt-6, .my-6 {
    margin-top: 4rem!important;
}
.mt-7, .my-7 {
    margin-top: 5rem!important;
}
.form-info{background:#ffffff; border-radius:3px; border:solid 1px #cccccc; padding:15px 30px; display:flex; font-size:13px;color:#aaaaaa; align-items:center; width:calc(100% - 85px)}
.form-info img{width:33px}
.form-info span{margin-left:10px}
.clear-left {clear:left}
.button-wrapper {display:flex; align-items:flex-end; justify-content:flex-end; height:100px}
.button-wrapper button{width:auto}
button {font-weight:bold!IMPORTANT; background:#4c9f38; color:#fff!important; text-transform:uppercase!IMPORTANT; border:none; border-radius: 15px;
    padding: 5px 15px;}
	footer{border-top:solid 2px transparent; padding:5px; height:30px;}
form {padding-bottom:15px}

header{position:absolute; width:100%; left:0; right:0; top:0}
header .navbar-default{background:transparent!important; border:none}
.welcome {
    position: relative;
    padding-top: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}
.welcome h3 {font-size:30px; letter-spacing: 1px;   margin: 0;}
.clouds {
    position: absolute;
    top: 0;
    left: 0; pointer-events: none;
    right: 0;
    bottom: 0;height: 30vh;
    overflow: hidden;
    transform: translateZ(0);
}
.cloud {
    position: absolute;
    top: 20%;
    width: 100%;
    right: 0;
    opacity: 1;
  }
  .cloud {
    -webkit-animation-name: cloud-movement;
    -webkit-animation-timing-function: linear;
    -webkit-animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 25s;
    -moz-animation-name: cloud-movement;
    -moz-animation-timing-function: linear;
    -moz-animation-direction: forwards;
    -moz-animation-iteration-count: infinite;
    -moz-animation-duration: 25s;
    animation-name: cloud-movement;
    animation-timing-function: linear;
    animation-direction: forwards;
    animation-iteration-count: infinite;
    animation-duration: 25s;
}
.super-slow {
    -webkit-animation-duration: 80s;
    -moz-animation-duration: 80s;
    animation-duration: 80s;
}
.slowest {
    -webkit-animation-duration: 100s;
    -moz-animation-duration: 100s;
    animation-duration: 100s;
}

.slowest1 {
    -webkit-animation-duration: 140.5s;
    -moz-animation-duration: 140.5s;
    animation-duration: 140.5s; position: absolute; left:40%; top:10vh;
}
@-webkit-keyframes cloud-movement {
    0% {
      opacity: 1;
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      transform: translateX(0px);
    }
   
    100% {
      opacity: 1;
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }
  .tractor-moving {
    position: absolute;
    bottom: calc(100% - 27px);
    -webkit-animation-name:doDrift;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: forwards;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-duration: 50s;
    -moz-animation-name: doDrift;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-direction: forwards;
    -moz-animation-iteration-count: 1;
    -moz-animation-duration: 50s;
    animation-name: doDrift;
    animation-timing-function: ease-in-out;
    animation-direction: forwards;
    animation-iteration-count: 1;
    animation-duration: 50s;left: 24%;

}
.tractor-moving img{max-width: 140px;}
@keyframes doDrift {
    0% {
      left: 80%;
    }
   
   
    
    100% {
      left: 24%; animation-play-state: paused;
    }
  }

  svg#fish {
    top: 5em;
  }

  svg.fish{
    overflow:visible;
  }
  @-webkit-keyframes swim
{
	0% {margin-left: 0%}
	10% {margin-left: 10%; }
}

@keyframes swim
{
	0% {margin-left: 0%}
	10% {margin-left: 10%; animation-play-state: paused;}
}

.fish{
	width: 105px;
	height: 104px;
	margin-left: 0px;
	position: absolute;	
	animation: swim 20s;
	-webkit-animation: swim 20s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;animation-play-state: paused;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}
.fishes {
    position: absolute;
    bottom: 10vh;
    left: -100px;    width: 100%;
    height: 200px;
}
svg #fish1,
svg #fish2,
svg #fish3,
svg #fish4,
svg #fish5,
svg #fish6 {
fill:#528484;
  
    -moz-animation: bounce1 2s infinite;
  -webkit-animation: bounce1 2s infinite;
  animation: bounce1 2s infinite; 
}

svg #fish2{
	animation-delay: 0.5s;
	-webkit-animation-delay: 0.5s;
}

svg #fish3{
	animation-delay: 0.2s;
	-webkit-animation-delay: 0.2s;
}

svg #fish4{
	animation-delay: 0.4s;
	-webkit-animation-delay: 0.4s;
}

svg #fish5{
	animation-delay: 0.1s;
	-webkit-animation-delay: 0.1s;
}

svg #fish6{
	animation-delay: 0.3s;
	-webkit-animation-delay: 0.3s;
}


@-moz-keyframes bounce1 {
  0%, 50%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -moz-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  75% {
    -moz-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}
@-webkit-keyframes bounce1 {
  0%, 50%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  75% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}
@keyframes bounce1 {
  0%, 50%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  75% {
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}
@-moz-keyframes bounce2 {
  /* 0%, 50%, 100% {
    -moz-transform: rotate(7deg);
    transform: rotate(7deg);
  }
  25% {
    -moz-transform: rotate(35deg);
    transform: rotate(35deg);
  }
  75% {
    -moz-transform: rotate(7deg);
    transform: rotate(7deg); 
  } */

  0%{transform: rotate(7deg);}
  25%{transform: rotate(15deg)}
  40%{transform: rotate(25deg)}
  50%{transform: rotate(15deg)}
  60%{transform: rotate(7deg)}
  70%{transform: rotate(15deg);}
  80%{transform: rotate(25deg);}
  90%{transform: rotate(15deg);}
  100%{transform: rotate(7deg);animation-play-state: paused, running;}

}
@-webkit-keyframes bounce2 {
  /* 0%, 50%, 100% {
    -webkit-transform:rotate(7deg);
    transform: rotate(7deg);
  }
  25% {
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
  }
  75% {
    -webkit-transform: rotate(7deg);
    transform: rotate(7deg); 
  } */

  0%{-webkit-transform: rotate(7deg);transform: rotate(7deg);}
  25%{-webkit-transform: rotate(15deg);transform: rotate(15deg);}
  40%{-webkit-transform: rotate(25deg);transform: rotate(25deg);}
  50%{-webkit-transform: rotate(15deg);transform: rotate(15deg);}
  60%{-webkit-transform: rotate(7deg);transform: rotate(25deg);}
  70%{-webkit-transform: rotate(15deg);transform: rotate(7deg);}
  80%{-webkit-transform: rotate(25deg);transform: rotate(15deg);}
  90%{-webkit-transform: rotate(15deg);transform: rotate(25deg);}
  100%{-webkit-transform: rotate(7deg);transform: rotate(7deg);animation-play-state: paused, running;}

}
@keyframes bounce2 {
  /* 0%, 50%, 100% {
    -moz-transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    transform: rotate(7deg);
  }
  25% {
    -moz-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
  }
  75% {
    -moz-transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    transform: rotate(7deg);
  } */

  0%{-webkit-transform: rotate(7deg);transform: rotate(7deg);}
  25%{-webkit-transform: rotate(15deg);transform: rotate(15deg);}
  40%{-webkit-transform: rotate(25deg);transform: rotate(25deg);}
  50%{-webkit-transform: rotate(15deg);transform: rotate(15deg);}
  60%{-webkit-transform: rotate(7deg);transform: rotate(25deg);}
  70%{-webkit-transform: rotate(15deg);transform: rotate(7deg);}
  80%{-webkit-transform: rotate(25deg);transform: rotate(15deg);}
  90%{-webkit-transform: rotate(15deg);transform: rotate(25deg);}
  100%{-webkit-transform: rotate(7deg);transform: rotate(7deg);animation-play-state: paused, running;}
}
.tank-right1{background:url(../images/tank-ring1.png) no-repeat; background-size: contain; width:calc(100% - 14px); height: 85px; position: absolute; top: 1px; left: 0px; z-index: -1; pointer-events: none;}
.tank-right2{background:url(../images/tank-ring2.png) no-repeat; background-size:  100% 100%; width: 100%; height: 85px; position: absolute; bottom: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;}
.fish-tank{height: 90px;
    width: 100%;
    background-size: contain;max-width: 250px;    z-index: 1; text-align: center;
    background-position: center bottom; position: absolute; top:16%; left:0;}
    .fish-tank svg.fish{width: 176px;    left: 50%;
        top: 50%;height: auto;
        z-index: -1;
        display: inline-block;
        position: absolute;
        margin: -6px auto;
        right: auto;transform: translateY(-50%) translateX(-50%);}
        .fish-tank img{max-width: 100%;}
        .fish-tank.fish-tank2 {
            left: auto; height: 120px;
            right: 7vw;
            max-width: 360px;
            top: 26%;
            height: auto;
        }
        
        .fish-tank.fish-tank2 svg.fish{    width: 256px;margin: 8px auto;}
        .fish-tank.fish-tank2  .tank-right2{    height: 80px;
            background-size: contain;
            bottom: -4px;
            background: #1d8bdaf2;
            border-radius: 100%;    opacity: .9;
        }
        .fish-tank.fish-tank2   .tank-right1{ height: 73px;   top: 2px;}
        .cow{position: absolute; top:-18px; left:1vw;}
        .cow img{max-width: 40px}
        .cow.cow2 {    top: -16px;
          left: 4vw;
      }
      .cow.cow2 img{height: 25px;;}
      .hut1{    max-width: 90px;
        margin-left: 14%;
        top: -16px;
        position: relative;}
        .hut2{max-width: 90px;
    float: right;
    margin-right: 0;
    top: -14px;
    position: absolute;
    right: 2%;}
          .hut2 img{width:90px; height: 23px;}
  .top-section{background: url(../images/blue-bg.jpg) no-repeat; background-size: cover; background-position: center bottom; position: relative; top:0; left:0; height: 45vh; width: 100%;}      
  .bottom-section{background: url(../images/water-bg.svg) no-repeat; background-size: cover; background-position: top center; position: relative; bottom:0; left:0; height: 55vh; width: 100%;}


  @keyframes carmove{
    0%{transform: translateY(0px);}
    58%{transform: translateY(1px)}
    62%{transform: translateY(2px)}
    66%{transform: translateY(3px)}
    75%{transform: translateY(1px)}
    100%{transform: translateY(0px);animation-play-state: paused, running;}
  }
  @keyframes wheel{
    0%{
     transform: rotate(0deg);
    }
    35% {
      transform: rotate(-500deg);
    }
    
    100%{
      transform: rotate(-1000deg); animation-play-state: paused;animation-timing-function: ease-out; animation-play-state: paused, running;
    }
  }
  
  @keyframes moving {
    0% {
      right: 120px;animation-play-state: running;
      animation-timing-function: ease-out; 
    }
    99% {
      right: 65%;  animation-play-state: running;
    }
    100% {
      right: 65%;  animation-timing-function: ease-in;animation-play-state: paused;
    }
  }
  
  @keyframes stableWheel {
    from {transform: translateY(-.0em);}
    to {transform: translateY(-.0em);}
  }
  
  .car{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute; right: 65%;
    width: 160px;
    height:90px;     bottom: calc(100% - 21px);
    overflow:hidden;
    animation:  moving 40s linear  1;
  }
  
  .carbody{
    animation: carmove 3.1s 1 linear;
    background: url(../images/tractor-base.svg) no-repeat;
    background-size: cover;
    height: 80px;
    position: relative; 
    width: 110px;
    z-index: 125;
  }
  
  .weel{
    /*animation: wheel 0.7s infinite linear;*/
    animation:wheel 10s linear  4;
    position: absolute;
    top: 57%;background-size: contain;
    z-index: 200;
  }
  .plough {
    background: url(../images/plough.svg) no-repeat;
    width: 60px;
    height: 30px;
    background-size: contain;
    position: absolute;
    right: 27px;-moz-animation: bounce2 5s 8;
    -webkit-animation: bounce2 5s 8;
    animation: bounce2 5s 8;
    top: 46px;
    transform: rotate(17deg);}
  .weel1{left: 3px;background: url(../images/wheel-front.svg) no-repeat;width: 26px;  height: 26px;}
  
  .weel2{left: 55px;background: url(../images/wheel-rear.svg) no-repeat;width: 43px;     margin-top: -18px; height: 43px;}
  
  .stopedWeel{
       animation: stableWheel .2s linear 1 alternate;
  }


h3{color:#214d88!important;  font-family: 'SandwichMarkerPro'!important; }
.navbar{    z-index: 11;}
.mid-content{padding-bottom: 120px;;}
.home-content {position:relative;   padding-top: 10px;text-align:center; left:0; right:0; margin:auto;    max-width:560px;}

.home-content p {font-size:14px;}
.home-footer {position:absolute; left:0; right:0; bottom:20px; text-align:center;z-index: 1;}
.footer-text h4{font-weight: bold; margin-bottom: 0;color: #000;
  font-size: 16px;}
  .footer-text p{color: #000; font-size: 14px;}
.footer-text a{color: #000; text-decoration: underline;
    font-weight: 500;}
.form-row input:disabled {opacity:.7}
.form-row input:disabled::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #E6E6E6; opacity:1;
}
.form-row input:disabled::-moz-placeholder { /* Firefox 19+ */
  color: #E6E6E6; opacity:1;
}
.form-row input:disabled:-ms-input-placeholder { /* IE 10+ */
   color: #E6E6E6; opacity:1;
}
.form-row input:disabled:-moz-placeholder { /* Firefox 18- */
   color: #E6E6E6; opacity:1;
}

.form-row label{    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);}
.form-row:hover > label {-webkit-animation-name: hvr-pulse-grow;
    animation-name: hvr-pulse-grow;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;}
	
	

@-webkit-keyframes hvr-button-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0; border-radius:15px;
  }
}
@keyframes hvr-button-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;border-radius:15px;
  }
}
form input:focus, form select:focus {border-color:#4C9F38; -webkit-box-shadow: 0px 0px 10px 0px rgba(76, 159, 56, 0.95);
-moz-box-shadow:    0px 0px 10px 0px rgba(76, 159, 56, 0.95);
box-shadow:         0px 0px 10px 0px rgba(76, 159, 56, 0.95);}

 /* ///  DECORATION CSS ///  */
/*.cont_select_center {
  position: absolute;
  left: 50%;
  top:50%;
  margin-top: -30px;
  margin-left: -150px;
}*/


/* ///  END DECORATION CSS  ///  */

.icon_select_mate {

    position: absolute;
    top: 0;
    right: 15px;
    font-size: 16px;
    height: 22px;
    transition: all 275ms;
    bottom: 0;
    margin: auto;
    width: 20px;
    display: flex;

}
.icon_select_mate img {width:100%; height:auto}
.select_mate {
  position: relative;
  float: left;
  
  width: 100%;
  height:50px;
  background-color: #fff;
 border:solid 1px #ccc;
  border-radius: 3px;
  transition: all 375ms ease-in-out;
/* Oculto el elemento select */

}

.cont_list_select_mate {
  position: relative;
  float: left;
  width: 100%;
}
.active-dropdown .cont_select_int {z-index:999}
.cont_select_int {
 position: absolute;opacity:0;
  left: 0px;
  top: 8px;
  z-index: -1;
  
  height: 0px;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
  border-radius: 0px 0px 3px 3px;
  box-shadow: 1px 4px 10px -2px rgba(0, 0, 0, 0.2);
  transition: all 375ms ease-in-out; border:solid 1px #E6E6E6;

	
     }



/* etiqueta <p> con la opcion selecionada  */
.selecionado_opcion {
    padding:0 15px;
    width: calc(100% - 40px);
    display: flex;
	align-items: center;
    margin: 0px;
    cursor: pointer; font-size:20px; height:50px; color:#aaaaaa;
}
.select_mate select {
    position: absolute;
    overflow: hidden;
    height: 0px;
    opacity: 0;
    z-index: -1;
}
.select_mate.active-dropdown {border-color: #4C9F38;
    -webkit-box-shadow: 0px 0px 10px 0px rgb(76 159 56 / 95%);
    -moz-box-shadow: 0px 0px 10px 0px rgba(76, 159, 56, 0.95);
    box-shadow: 0px 0px 10px 0px rgb(76 159 56 / 95%);
}

.cont_select_int > li {font-size:20px; padding:10px 5px; color:#aaaaaa; cursor:pointer; border-radius:3px;}
.cont_select_int > li:hover{background:#DAEBD6}
.select_mate:not(.active-dropdown) .cont_select_int{
opacity:0!important;
}
.sec1-bg {background:url(../images/gi-bg.jpg) no-repeat top center; background-size:cover}
.sec2-bg2 {background:url(../images/sec2-bg2.jpg) no-repeat top center!important; background-size:cover}
.sec1-bg .navbar-default{background:transparent}
.page-width {max-width:95%; margin:auto}
.select_mate:not(.active-dropdown) .cont_select_int{
height:0!important;opacity:0!important;
}
.box-icon img{width:30px;}
.box-head h4{font-size:29px; color:#214D88; margin-left:15px;}
.box-head {display:flex;}
.sec1-box-left p{color:#808080; margin:10px 0 0 45px}


.checkbox-group > div {
  flex: 50%; /* or - flex: 0 50% - or - flex-basis: 50% - */
  /*demo*/
 
  margin-bottom: 35px;
}
.checkbox-group {
  padding: 45px; 
    display: flex;
  flex-wrap: wrap;
}

.form-group {
  display: block;
  margin-bottom: 15px;
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label {
  position: relative;
  cursor: pointer;
}

.form-group label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #E6E6E6;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px; border-radius:3px;width:32px; height:32px; margin-right:15px;
}
.form-group input:checked + label:before {
	background:#4C9F38; border-color:#4C9F38;
	
}
.form-group input:checked + label:after {
  content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 11px;
    width: 11px;
    height: 21px;
    border: solid #ffffff;
    border-width: 0 5px 5px 0;
    transform: rotate(
45deg
);
}
.checkbox-group label{font-size:21px;}
.sec1-box-left {
    margin-top: 30px;
}
.bottom-button{margin:0 0 20px}
.bg-anim {width:284px; height:275px}
.bg-anim {background:url(../images/bitcoin.svg) no-repeat; background-size:cover}
.bg-anim:hover{background:url(../images/bitcoin-over.svg) no-repeat; background-size:cover}
.checkbox-group {
  
  animation-name: show-smooth;
  animation-duration: 4s;
}

@keyframes show-smooth {
  from {opacity: 0;}
  to {opacity: 1;}
}

.cont_select_int li:first-child{display:none}
.autocomplete {position:relative}
.autocomplete input {
    width: 100%;
}
.search-clear {position:absolute; right:15px;top:0; bottom:0; left:auto}
.autocomplete .search-clear {
    position: absolute;
    right: 15px;
    top: 10px;
   
    left: auto;
    display: inline-block!important;
    width: 32px;height:32px; text-align:center; line-height:32px;background:#E6E6E6 url(../images/close-icon.svg) no-repeat center center;
    background-size:18px; border-radius:50%; text-indent:-99999999px;cursor:pointer;
}
.autocomplete-items {
    position: absolute;
    top: calc(100% + 10px);
    padding: 15px;
    z-index: 99999;
   
    background: #fff;
    border-radius: 3px;
    box-shadow: 1px 4px 10px -2px rgb(0 0 0 / 20%);
    transition: all 375ms ease-in-out;
    border: solid 1px #E6E6E6;
}
.link-btn{
	width:auto;
}
.sec1-box-right {position:relative;}
.sec1-box-right img {
    max-width: 100%;
    height: auto;
}

.bird-anim {
    position: absolute;
    left: 0;
    top: 0;width:80%;
}
.form-row input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #aaaaaa; opacity:1;
}
.form-row input::-moz-placeholder { /* Firefox 19+ */
  color: #aaaaaa; opacity:1;
}
.form-row input:-ms-input-placeholder { /* IE 10+ */
   color: #aaaaaa; opacity:1;
}
.form-row input:-moz-placeholder { /* Firefox 18- */
   color: #aaaaaa; opacity:1;
}

.form-row select::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #aaaaaa; opacity:1;
}
.form-row select::-moz-placeholder { /* Firefox 19+ */
  color: #aaaaaa; opacity:1;
}
.form-row select:-ms-input-placeholder { /* IE 10+ */
   color: #aaaaaa; opacity:1;
}
.form-row select:-moz-placeholder { /* Firefox 18- */
   color: #aaaaaa; opacity:1;
}

.jump-anim{
	-moz-animation: bounce1 2s infinite;
  -webkit-animation: bounce1 2s infinite;
  animation: bounce1 2s infinite;
	
}


.btn-flip {
  opacity: 1;
  outline: 0;
  color: #fff;
  line-height: 30px;
  position: relative;
  text-align: center;
 font-weight:bold;
  display: inline-block;
  text-decoration: none;
   text-transform: uppercase; border-radius:15px;
}
.btn-flip:hover:after {
  opacity: 1;
  transform: translateY(0) rotateX(0);
}
.btn-flip:hover:before {
  opacity: 0;
  transform: translateY(50%) rotateX(90deg);
}
.btn-flip:after {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  color: #fff;
  display: block;
  transition: 0.5s;
  position: absolute;
  background: #4c9f38;
  content: attr(data-back);
  transform: translateY(-50%) rotateX(90deg); border-radius:15px;
}
.btn-flip:before {
  top: 0;
  left: 0;
  opacity: 1;
  color: #fff;
  display: block;
  padding: 0 15px;
  line-height: 30px;
  transition: 0.5s;
  position: relative;
  background: #4c9f38;
  content: attr(data-front);
  transform: translateY(0) rotateX(0); border-radius:15px;
}

.ripples-wrap{height: 35vh;
  margin: 0px;z-index: 1;pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center; width:100%; position:absolute; bottom:10px}
  
  .ripples{
  width: 100%;
  height: 100%;
  min-width: 600px;
  max-width: 1366px;
  max-height: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
  .ripples-row{
  display: flex;
  justify-content: center;
  align-items: center;
}
.rain{
  position: relative;
  width: 100%;
  height: 100%;
}

.rain:nth-of-type(1){
  --duration: 2.7s;
  --delay: 1s;
  transform: translate(10%, 10%) scale(0.9);
}

.rain:nth-of-type(2){
  --duration: 2.1s;
  --delay: 1.2s;
  transform: translate(-20%, 40%) scale(1.3);
}

.rain:nth-of-type(3){
  --duration: 2.3s;
  --delay: 2s;
  transform: translate(0%, 50%) scale(1.1);
}

.rain:nth-of-type(4){
  --duration: 2s;
  --delay: 4s;
  transform: translate(0%, -10%) scale(1.2);
}

.rain:nth-of-type(5){
  --duration: 2.5s;
  --delay: 0s;
  transform: translate(10%, 0%) scale(0.9);
}

.rain:nth-of-type(6){
  --duration: 2s;
  --delay: 2.7s;
  transform: translate(-20%, 0%) scale(1);
}

.rain:nth-of-type(7){
  --duration: 1.8s;
  --delay: 1.3s;
  transform: translate(20%, -40%) scale(1.2);
}

.rain:nth-of-type(8){
  --duration: 2.2s;
  --delay: 0s;
  transform: translate(20%, 0%) scale(1);
}

.rain:nth-of-type(9){
  --duration: 2s;
  --delay: 0.5s;
  transform: translate(0%, -10%) scale(1.3);
}

.drop{
  background-color: white;
  width: 3px;
  height: 100px;
  position: absolute;
  top: calc(50% - 100px); 
  left: calc(50% - 1.5px);
  animation-name: fall;
  animation-duration: var(--duration);
  animation-delay: var(--delay);
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-fill-mode: backwards;
}

@keyframes fall{
  0%{
    transform: translateY(-120vh);
  }
  45%{
    transform: translateY(0%);
    opacity: 1;
  }
  46%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}

.waves > div{
  position: absolute;
  top:0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-radius: 50%;
  border: solid white 3px;
  animation-name: spread;
  animation-duration: var(--duration);
  animation-delay: var(--delay);
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards;
}

.waves > div:nth-child(2){
  animation-delay: calc(var(--delay) + 0.3s);
  animation-timing-function: linear;
}

@keyframes spread{
  0%{
    transform: scale(0);
    opacity: 1;
  }
  40%{
    transform: scale(0);
    opacity: 1;
  }

  100%{
    transform: scale(1);
    opacity: 0;
  }
}


.splash{
  position: absolute;
  top: 10%;
  bottom: 50%;
  left: 35%;
  right: 35%;
  border-radius: 8px;
  clip-path: polygon(7% 100%, 5% 95%, 3% 80%, 11% 50%, 17% 38%, 23% 44%, 30% 53%, 37% 28%, 40% 29%, 45% 43%, 51% 53%, 59% 36%, 64% 22%, 67% 23%, 70% 34%, 72% 46%, 79% 37%, 83% 37%, 93% 61%, 96% 76%, 96% 94%, 94% 100%);
  background-color: white;
  transform-origin: bottom;
  animation-name: splash;
  animation-duration: var(--duration);
  animation-delay: var(--delay);
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards;
}

@keyframes splash{
  0%{
    transform: scale(0.3, 0);
  }

  49%{
    transform: scale(0.3, 0);
  }

  50%{
    transform: scale(0.3, 0.3);
  }

  60%{
    transform: scale(0.7, 1);
  }

  90%{
    transform: scale(1, 0);
  }

  100%{
    transform: scale(1, 0);
  }
}

.particles > div{
  position: absolute; 
  border-radius: 100%;
  background-color: white;
  animation-duration: var(--duration);
  animation-delay: var(--delay);
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
}

.particles > div:nth-child(1){
  width: 7px;
  height: 7px;
  top: 50%;
  left: 50%;
  animation-name: jumpLeft;
}

.particles > div:nth-child(2){
  width: 5px;
  height: 5px;
  top: 30%;
  left: 50%;
  animation-name: jumpLeft;
  animation-delay: calc(var(--delay) + 0.1s);
}

.particles > div:nth-child(3){
  width: 3px;
  height: 3px;
  top: 20%;
  left: 70%;
  animation-name: jumpRight;
  animation-delay: calc(var(--delay) + 0.15s);
}

.particles > div:nth-child(4){
  width: 5px;
  height: 5px;
  top: 30%;
  left: 50%;
  animation-name: jumpRight;
  animation-delay: calc(var(--delay) + 0.3s);
}

@keyframes jumpLeft{
  0%{
    transform: translate(0,0) scale(0);
  }

  45%{
    transform: translate(0,0) scale(0);
  }

  60%{
    transform: translate(-50px, -90px) scale(1);
  }

  100%{
    transform: translate(-60px, 0px) scale(0.1);
  }
}

@keyframes jumpRight{
  0%{
    transform: translate(0,0) scale(0);
  }

  45%{
    transform: translate(0,0) scale(0);
  }

  60%{
    transform: translate(30px, -80px) scale(1);
  }

  100%{
    transform: translate(50px, 0px) scale(0.1);
  }
}



@media (min-width:1800px) {
  @keyframes moving {
    0% {
      right: 120px;animation-play-state: running;
      animation-timing-function: ease-out; 
    }
    99% {
      right: 70%;  animation-play-state: running;
    }
    100% {
      right: 70%;  animation-timing-function: ease-in;animation-play-state: paused;
    }
  }
  .car {height: 85px;right: 70%;}
 

}

@media (min-width:768px) and (max-width:1200px) {
  .cow.cow2{left: 5vw;}
  .hut1 {    top: -17px;}
  .hut2 {    top: -16px;}
  .fish-tank.fish-tank2{top: 24%;;}
  @keyframes moving {
    0% {
      right: 120px;animation-play-state: running;
      animation-timing-function: ease-out; 
    }
    99% {
      right: 60%;  animation-play-state: running;
    }
    100% {
      right: 60%;  animation-timing-function: ease-in;animation-play-state: paused;
    }
  }
  .car {    right: 60%;}

}


.section-2 {background:none!important}

.parent-zoom {
    width: 100%;
    margin: 0;
    height: 100vh;
    border: none;
    overflow: hidden;
    position: relative;
    float: left;
    display: inline-block;
  cursor: pointer;
}

.child-bg {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all 1.8s;
    -moz-transition: all 1.8s;
    -o-transition: all 1.8s;
    transition: all 1.8s;
}

/* Several different images */

/* Several different images */
.bg-one {background-image: url(../images/sec-2-home-bg.svg);}



.zoom-backrgound .parent-zoom .child-bg, .zoom-backrgound .parent-zoom .child-bg {
    -ms-transform: scale(4.2);
    -moz-transform: scale(4.2);
    -webkit-transform: scale(4.2);
    -o-transform: scale(4.2);
    transform: scale(4.2); background-position: 140px -50px;
}





/* Media Queries */
@media screen and (max-width: 960px) {
    .parent-zoom {width: 100%; margin: 0}
   
}
.personal-level-start .button-wrapper {display:none; position:fixed; width:100%; left:0; right:0; bottom:0; height:auto;}
.personal-level-start.zoom-backrgound .button-wrapper {
display: block;
    position: absolute;
    width: auto;
    right: auto;
    left: 38%;
    top: 52%;
	}
.personal-level-start .navbar-default,.personal-level-start .navbar-default{position:absolute; top:0; left:0; right:0; width:100%; background:transparent}
.personal-level-step {background:url(../images/sec-2bg.jpg) no-repeat; background-size:cover}
.loader-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2cace8+1,32ffff+46,32ffff+52,a8f731+53,dcf79e+100 */
background: #2cace8; /* Old browsers */
background: -moz-linear-gradient(top,  #2cace8 1%, #32ffff 46%, #32ffff 52%, #a8f731 53%, #dcf79e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #2cace8 1%,#32ffff 46%,#32ffff 52%,#a8f731 53%,#dcf79e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #2cace8 1%,#32ffff 46%,#32ffff 52%,#a8f731 53%,#dcf79e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2cace8', endColorstr='#dcf79e',GradientType=0 ); /* IE6-9 */

    z-index: 99999;
}
.hide-loader .loader-wrap {display:none;}

.sec1-bg .button-wrapper {height:auto}
.sec1-box-right img.jump-anim {
    height: 325px;
}
.rs-handle {position:relative}
.rs-handle:after {
    content: "0";
position: absolute;
z-index: 99999999999999999;
transform: rotate(-90deg);
color: #000;
left: 0;
right: 0;
display: flex;
top: 0;
bottom: 0;
align-items: center;
justify-content: center;
width: 28px;
height: 28px;
margin: auto;
background: #fff;
border-radius: 50%;
}

.rs-handle.stepmove1:after {
	 content: "1";
	 transform: rotate(-162deg);
}
.rs-handle.stepmove2:after {
	 content: "2";
	 transform: rotate(-236deg);
}
.rs-handle.stepmove3:after {
	 content: "3";
	 transform: rotate(-306deg);
}
.rs-handle.stepmove4:after {
	 content: "4";
	 transform: rotate(-378deg);
}
.rs-handle.stepmove5:after {
	 content: "5";
	 transform: rotate(-450deg);
}
.rs-control {margin:45px auto}
.circular-range-slider .rs-container, .circular-range-slider {width:440px!important; height:440px!important}
.circular-range-slider .rs-handle {}
.rs-control .rs-range-color {
    background-color: #4c9f38;
}
.rs-control .rs-path-color {
    background-color: #dbedd7;
}
.circular-range-slider .rs-border {border:none}

.circular-range-slider .rs-range-color  {
    background-color: #4c9f38;
}
.circular-range-slider .rs-path-color  {
    background-color: #dbedd7;
    border-radius: 0;
}
.circular-range-slider .rs-handle {
    background-color: #4c9f38;
    width: 50px!important;
    height: 50px!important;
    border: solid 1px#fff;
}
.circular-range-slider .rs-border  {
    border: 15px solid #dbedd7;
}
.circular-range-slider .rs-bar .rs-seperator {border:none}
.circular-range-slider .rs-handle {
    
    margin-left: auto!important;
    margin-right: auto!important;
}
.circular-range-slider{padding:5px 0; position:relative;}
.circular-range-slider.current-step-5:before {
content: "5";}
.circular-range-slider:not(.current-step-0):before {
	content: "0";
    left: 0;
    right: 0;
    margin: auto;
    background: url(../images/gray-circle.svg) no-repeat;
    background-size: 64px 64px;
    width: 64px!important;
    height: 64px!important;
    position: absolute;
    top: -3px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circular-range-slider.current-step-0 .stepmove0{
	background: url(../images/gray-circle.svg) no-repeat!important;
    background-size: 64px 64px;
    width: 64px!important;
    height: 64px!important; margin-top:-27.5px!important;margin-left: -7px!important;
}

.circular-range-slider.current-step-5:before {
	
	content:none;
}

.personal-level-step1 .circular-range-slider .rs-bg-color {background:#ffffff url(../images/circle-cart.svg) no-repeat center center;
background-size:300px 300px;
}
.personal-level-step1 .circular-range-slider.current-step-1 .rs-bg-color{background:#ffffff url(../images/circle-cart-1.svg) no-repeat center center;
background-size:300px 300px;
}
.personal-level-step1 .circular-range-slider.current-step-2 .rs-bg-color{background:#ffffff url(../images/circle-cart-2.svg) no-repeat center center;
background-size:300px 300px;
}
.personal-level-step1 .circular-range-slider.current-step-3 .rs-bg-color{background:#ffffff url(../images/circle-cart-3.svg) no-repeat center center;
background-size:300px 300px;
}
.personal-level-step1 .circular-range-slider.current-step-4 .rs-bg-color{background:#ffffff url(../images/circle-cart-4.svg) no-repeat center center;
background-size:300px 300px;
}
.personal-level-step1 .circular-range-slider.current-step-5 .rs-bg-color{background:#ffffff url(../images/circle-cart-5.svg) no-repeat center center;
background-size:300px 300px;
}
.gbb-wrap {position:relative; margin-top:45px}
.col-sm-5 .gbb-wrap {margin-right:5%; }
.col-sm-7 .gbb-wrap {margin-left:5%}
.gbb-wrap .green-brdr-box {
    padding: 25px;
    border: solid 4px #4c9f38;
    border-radius: 16px;
}
.gbb-item {
    margin: 0 auto -15px auto;
    text-align: center;
    height: 191px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.gbb-item-1 img {width:75px; height:auto; }
.gbb-item-2 img {width:214px; height:auto}
.gbb-head{font-size:16px; font-weight:bold; margin:0 0 15px 27px;}
.gbb-wrap .green-brdr-box .form-group label {font-weight:normal; color:#000}
.gbb-wrap .form-group input:checked + label:before {background: #10cfbd;
    border-color: #10cfbd;}
.gbb-wrap .form-group label:before {
    padding: 7px;
    width: 15px;
    height: 15px;
    margin: 0 10px 0 0;
}
.gbb-wrap .form-group input:checked + label:after {
    top: 4px;
    left: 6px;
    width: 7px;
    height: 12px;
    border-width: 0 3px 3px 0;
}
.outer-input {
    margin: 15px 0 0 30px;
}