*{margin:0; padding:0}
.hero{height:100vh; width:100%; background:url(../images/home-bg1.jpg) no-repeat; background-size:cover; background-position:center bottom; overflow-x:hidden}
.index-page .navbar-default{    background: transparent;}
body{overflow-x:hidden}

a.navbar-brand img {
    width: 165px;
    height: auto;
}
@media(min-width:1600px) {
a.navbar-brand img {
    width: 225px;
    
}	
.page-head h2{font-size:35px}	
form label{font-size:25px}
}
@font-face {
    font-family: 'SandwichMarkerPro';
    src: url('../fonts/SandwichMarkerPro-Bold.eot');
    src: url('../fonts/SandwichMarkerPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SandwichMarkerPro-Bold.woff2') format('woff2'),
        url('../fonts/SandwichMarkerPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Verdana';
    src: url('../fonts/Verdana-Italic.eot');
    src: url('../fonts/Verdana-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Verdana-Italic.woff2') format('woff2'),
        url('../fonts/Verdana-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Verdana';
    src: url('../fonts/Verdana-Bold.eot');
    src: url('../fonts/Verdana-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Verdana-Bold.woff2') format('woff2'),
        url('../fonts/Verdana-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Verdana';
    src: url('../fonts/Verdana.eot');
    src: url('../fonts/Verdana.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Verdana.woff2') format('woff2'),
        url('../fonts/Verdana.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Verdana';
    src: url('../fonts/Verdana-BoldItalic.eot');
    src: url('../fonts/Verdana-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Verdana-BoldItalic.woff2') format('woff2'),
        url('../fonts/Verdana-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

body{font-family: 'Verdana';}
.right-header {font-family: 'SandwichMarkerPro'; color:#214d88; font-size:36px}
.right-header span{color:#4c9f38}
.navbar-brand {height:auto;}
.navbar-default {background:#fff; border:none}
.d-flex{display:flex} 
.align-center{align-items: center;} 
.space-between{justify-content: space-between;}
.container {
    width: 100%!important; padding-left:30px!important; padding-right:30px!important;
}

.page-head h2{font-family: 'SandwichMarkerPro'; font-size:27px; color:#4c9f38; border-bottom:solid 1px #4c9f38; padding:15px 0;}
.page-bg-1 {position:absolute; bottom:0; right:0; width:56%}
.page-bg-1 img{display:block; width:100%}
.relative {position:relative}
form *{display:block; width:100%}
form label	{color:#808080; font-weight:normal; margin:0; width:auto;  font-family: 'Verdana'; font-style:normal; font-size:18px}
form input, form select	{border-radius:3px;background:#ffffff; border:solid 1px #ccc; outline:none; height:50px; line-height:1; padding:0 15px; font-size:20px;}
form select {background:url(../images/select-arrow.svg) no-repeat right center;
    appearance: none;
    -moz-appearance: none;
-webkit-appearance: none;background-size:32px;
}
.form-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-row label {
    margin-right: 30px;
    width: 55px;
    display: block;
    float: left;
    text-align: center;
}
.form-row input, .form-row select {
   float: left;
    width: calc(100% - 85px);
}
.form-row img {
    height: 55px; width:auto; margin:auto;
}
.mt-1, .my-1 {
    margin-top: .25rem!important;
}
.mt-2, .my-2 {
    margin-top: .5rem!important;
}
.mt-3, .my-3 {
    margin-top: 1rem!important;
}
.mt-4, .my-4 {
    margin-top: 1.5rem!important;
}
.mt-5, .my-5 {
    margin-top: 3rem!important;
}
.mt-6, .my-6 {
    margin-top: 4rem!important;
}
.mt-7, .my-7 {
    margin-top: 5rem!important;
}
.form-info{background:#ffffff; border-radius:3px; border:solid 1px #cccccc; padding:15px 30px; display:flex; font-size:14px; align-items:center; width:calc(100% - 85px)}
.form-info img{width:33px}
.form-info span{margin-left:10px}
.clear-left {clear:left}
.button-wrapper {display:flex; align-items:flex-end; justify-content:flex-end; height:100px}
.button-wrapper button{width:auto}
button {font-weight:bold!IMPORTANT; background:#4c9f38; color:#fff!important; text-transform:uppercase!IMPORTANT; border:none; border-radius: 15px;
    padding: 5px 15px;}
	footer{border-top:solid 2px transparent; padding:5px; height:30px;}
form {padding-bottom:15px}

header{position:absolute; width:100%; left:0; right:0; top:0}
header .navbar-default{background:transparent!important; border:none}
.welcome {
    position: relative;
    padding-top: 30px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}
.welcome h3 {font-size:50px;    margin: 0;}
.clouds {
    position: absolute;
    top: 0;
    left: 0; pointer-events: none;
    right: 0;
    bottom: 0;height: 30vh;
    overflow: hidden;
    transform: translateZ(0);
}
.cloud {
    position: absolute;
    top: 20%;
    width: 100%;
    right: 0;
    opacity: 1;
  }
  .cloud {
    -webkit-animation-name: cloud-movement;
    -webkit-animation-timing-function: linear;
    -webkit-animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 8s;
    -moz-animation-name: cloud-movement;
    -moz-animation-timing-function: linear;
    -moz-animation-direction: forwards;
    -moz-animation-iteration-count: infinite;
    -moz-animation-duration: 8s;
    animation-name: cloud-movement;
    animation-timing-function: linear;
    animation-direction: forwards;
    animation-iteration-count: infinite;
    animation-duration: 8s;
}
.super-slow {
    -webkit-animation-duration: 25.5s;
    -moz-animation-duration: 25.5s;
    animation-duration: 25.5s;
}
.slowest {
    -webkit-animation-duration: 15.5s;
    -moz-animation-duration: 15.5s;
    animation-duration: 15.5s;
}

.slowest1 {
    -webkit-animation-duration: 30.5s;
    -moz-animation-duration: 30.5s;
    animation-duration: 30.5s; position: absolute; left:40%; top:10vh;
}
@-webkit-keyframes cloud-movement {
    0% {
      opacity: 1;
      -webkit-transform: translateX(100px);
      -moz-transform: translateX(100px);
      transform: translateX(100px);
    }
    10% {
  
      opacity: 1;
    }
    90% {
      opacity:1;
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(-1000px);
      -moz-transform: translateX(-1000px);
      transform: translateX(-1000px);
    }
  }
  .tractor-moving {
    position: absolute;
    
    top: 33vh;
    -webkit-animation-name:doDrift;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: forwards;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-duration: 12s;
    -moz-animation-name: doDrift;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-direction: forwards;
    -moz-animation-iteration-count: 1;
    -moz-animation-duration: 12s;
    animation-name: doDrift;
    animation-timing-function: ease-in-out;
    animation-direction: forwards;
    animation-iteration-count: 1;
    animation-duration: 12s;left: 24%;

}

@keyframes doDrift {
    0% {
      left: 80%;
    }
   
   
    
    100% {
      left: 24%; animation-play-state: paused;
    }
  }

  svg#fish {
    top: 5em;
  }

  svg.fish{
    overflow:visible;
  }
  @-webkit-keyframes swim
{
	0% {margin-left: 0%}
	100% {margin-left: 100%;}
}

@keyframes swim
{
	0% {margin-left: 0%}
	100% {margin-left: 100%;}
}

.fish{
	width: 235px;
	height: 104px;
	margin-left: 0px;
	position: absolute;	
	animation: swim 20s;
	-webkit-animation: swim 20s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}
.fishes {
    position: absolute;
    bottom: 10vh;
    left: 0;    width: 100%;
    height: 200px;
}
svg #fish1,
svg #fish2,
svg #fish3,
svg #fish4,
svg #fish5,
svg #fish6 {
fill:#528484;
  
    -moz-animation: bounce1 2s infinite;
  -webkit-animation: bounce1 2s infinite;
  animation: bounce1 2s infinite;
}

svg #fish2{
	animation-delay: 0.5s;
	-webkit-animation-delay: 0.5s;
}

svg #fish3{
	animation-delay: 0.2s;
	-webkit-animation-delay: 0.2s;
}

svg #fish4{
	animation-delay: 0.4s;
	-webkit-animation-delay: 0.4s;
}

svg #fish5{
	animation-delay: 0.1s;
	-webkit-animation-delay: 0.1s;
}

svg #fish6{
	animation-delay: 0.3s;
	-webkit-animation-delay: 0.3s;
}


@-moz-keyframes bounce1 {
  0%, 50%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -moz-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  75% {
    -moz-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}
@-webkit-keyframes bounce1 {
  0%, 50%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  75% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}
@keyframes bounce1 {
  0%, 50%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  75% {
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}

h3{color:#214d88!important;  font-family: 'SandwichMarkerPro'!important; }
.navbar{    z-index: 11;}
.mid-content{padding-bottom: 120px;;}
.home-content {position:relative;   padding-top: 50px;text-align:center; left:0; right:0; margin:auto;    max-width:700px;}
.home-content p {font-size:18px;}
.home-footer {position:absolute; left:0; right:0; bottom:20px; text-align:center}
.footer-text h4{font-weight: bold; margin-bottom: 0;}
.footer-text a{color: #000;
    font-weight: 500;}
input.gray-out {opacity:.7}
input.gray-out::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #E6E6E6; opacity:1;
}
input.gray-out::-moz-placeholder { /* Firefox 19+ */
  color: #E6E6E6; opacity:1;
}
input.gray-out:-ms-input-placeholder { /* IE 10+ */
   color: #E6E6E6; opacity:1;
}
input.gray-out:-moz-placeholder { /* Firefox 18- */
   color: #E6E6E6; opacity:1;
}

.form-row label{    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);}
.form-row:hover > label {-webkit-animation-name: hvr-pulse-grow;
    animation-name: hvr-pulse-grow;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;}
	
	button{    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    position: relative;}
	button:before {
   content: '';
    position: absolute;
    border: #4c9f38 solid 6px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    border-radius: 15px;
}
button:hover:before, button:focus:before, button:active:before {
    -webkit-animation-name: hvr-button-out;
    animation-name: hvr-button-out;
}

@-webkit-keyframes hvr-button-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0; border-radius:15px;
  }
}
@keyframes hvr-button-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;border-radius:15px;
  }
}
form input:focus, form select:focus {border-color:#4C9F38; -webkit-box-shadow: 0px 0px 10px 0px rgba(76, 159, 56, 0.95);
-moz-box-shadow:    0px 0px 10px 0px rgba(76, 159, 56, 0.95);
box-shadow:         0px 0px 10px 0px rgba(76, 159, 56, 0.95);}

 /* ///  DECORATION CSS ///  */
/*.cont_select_center {
  position: absolute;
  left: 50%;
  top:50%;
  margin-top: -30px;
  margin-left: -150px;
}*/


/* ///  END DECORATION CSS  ///  */

.icon_select_mate {

    position: absolute;
    top: 0;
    right: 15px;
    font-size: 16px;
    height: 22px;
    transition: all 275ms;
    bottom: 0;
    margin: auto;
    width: 20px;
    display: flex;

}
.icon_select_mate img {width:100%; height:auto}
.select_mate {
  position: relative;
  float: left;
  
  width: 100%;
  height:50px;
  background-color: #fff;
 border:solid 1px #ccc;
  border-radius: 3px;
  transition: all 375ms ease-in-out;
/* Oculto el elemento select */

}

.cont_list_select_mate {
  position: relative;
  float: left;
  width: 100%;
}
.active-dropdown .cont_select_int {z-index:999}
.cont_select_int {
 position: absolute;opacity:0;
  left: 0px;
  top: 8px;
  z-index: -1;
  
  height: 0px;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
  border-radius: 0px 0px 3px 3px;
  box-shadow: 1px 4px 10px -2px rgba(0, 0, 0, 0.2);
  transition: all 375ms ease-in-out; border:solid 1px #E6E6E6;

	
     }



/* etiqueta <p> con la opcion selecionada  */
.selecionado_opcion {
    padding:0 15px;
    width: calc(100% - 40px);
    display: flex;
	align-items: center;
    margin: 0px;
    cursor: pointer; font-size:20px; height:50px;
}
.select_mate select {
    position: absolute;
    overflow: hidden;
    height: 0px;
    opacity: 0;
    z-index: -1;
}
.select_mate.active-dropdown {border-color: #4C9F38;
    -webkit-box-shadow: 0px 0px 10px 0px rgb(76 159 56 / 95%);
    -moz-box-shadow: 0px 0px 10px 0px rgba(76, 159, 56, 0.95);
    box-shadow: 0px 0px 10px 0px rgb(76 159 56 / 95%);
}

.cont_select_int > li {font-size:20px; padding:10px 5px;  cursor:pointer; border-radius:3px;}
.cont_select_int > li:hover{background:#DAEBD6}
.select_mate:not(.active-dropdown) .cont_select_int{
opacity:0!important;
}
.sec1-bg {background:url(../images/gi-bg.jpg) no-repeat top center; background-size:cover}
.sec1-bg .navbar-default{background:transparent}
.page-width {max-width:85%; margin:auto}
.select_mate:not(.active-dropdown) .cont_select_int{
height:0!important;opacity:0!important;
}
.box-icon img{width:30px;}
.box-head h4{font-size:29px; color:#214D88; margin-left:15px;}
.box-head {display:flex;}
.sec1-box-left p{color:#808080; margin:10px 0 0 45px}


.checkbox-group > div {
  flex: 50%; /* or - flex: 0 50% - or - flex-basis: 50% - */
  /*demo*/
 
  margin-bottom: 25px;
}
.checkbox-group {
  padding: 45px; 
    display: flex;
  flex-wrap: wrap;
}

.form-group {
  display: block;
  margin-bottom: 15px;
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label {
  position: relative;
  cursor: pointer;
}

.form-group label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #E6E6E6;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px; border-radius:3px;width:32px; height:32px; margin-right:10px;
}
.form-group input:checked + label:before {
	background:#4C9F38; border-color:#4C9F38;
	
}
.form-group input:checked + label:after {
  content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 11px;
    width: 11px;
    height: 21px;
    border: solid #ffffff;
    border-width: 0 5px 5px 0;
    transform: rotate(
45deg
);
}
.checkbox-group label{font-size:21px;}
.sec1-box-left {
    margin-top: 45px;
}
.bottom-button{margin:30px 0 45px}
.bg-anim {width:345px; height:334px}
.bg-anim {background:url(../images/bitcoin.svg) no-repeat; background-size:cover}
.bg-anim:hover{background:url(../images/bitcoin-over.svg) no-repeat; background-size:cover}
.checkbox-group {
  
  animation-name: show-smooth;
  animation-duration: 4s;
}

@keyframes show-smooth {
  from {opacity: 0;}
  to {opacity: 1;}
}

.cont_select_int li:first-child{display:none}
.autocomplete {position:relative}
.autocomplete input {
    width: 100%;
}
.search-clear {position:absolute; right:15px;top:0; bottom:0; left:auto}
.autocomplete .search-clear {
    position: absolute;
    right: 15px;
    top: 10px;
   
    left: auto;
    display: inline-block!important;
    width: 32px;height:32px; text-align:center; line-height:32px;background:#E6E6E6 url(../images/close-icon.svg) no-repeat center center;
    background-size:18px; border-radius:50%; text-indent:-99999999px;cursor:pointer;
}
.autocomplete-items {
    position: absolute;
    top: calc(100% + 10px);
    padding: 15px;
    z-index: 99999;
   
    background: #fff;
    border-radius: 3px;
    box-shadow: 1px 4px 10px -2px rgb(0 0 0 / 20%);
    transition: all 375ms ease-in-out;
    border: solid 1px #E6E6E6;
}